.App {
  text-align: center;
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search_box {
  align-items: center;
  justify-content: center;
}

.search_box > input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

.search_box_input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  padding-right: calc(-80px + 60vmin);
  font-size: 20px;
  outline-width: 0;
}

.search_box_submit {
  color: #282C34;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  outline-width: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.search_box_submit:hover {
  background-color: #DBDBDB; 
  border-color: #DBDBDB;
}

.search_box_submit:active {
  background-color: #4D5263;
  border-color: #4D5263;
}

.collapsible {
  background-color: white;
  color: #4D5263;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100vw;
}

.active, .collapsible:hover {
  background-color: #DBDBDB;
}

.collapsible:after {
  content: '\002B';
  color: #4D5263;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-width: 100vw;
  min-width: 100vw;
  margin-left: 30px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  color:black;
  font-size: 14px;
  text-align: left;
  margin-bottom: 1px;
}

.question {
  border-bottom: 1px solid #b4b4b4;
}

.answer {
  border-bottom: 1px solid #b4b4b4;
  margin-left: 10px;
}

.answer_list {
  border: 2px solid #e4e4e4;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.answer_title {
  font-size: 28px;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 15px;
}

.comments {
  margin-left: 35px;
  font-size: 10px;
  text-decoration: underline #E4E4E4;
}

code {
  background-color: #E8E8E8;
  color: #B01313;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
}

img {
  width: 100vw;
}