.App {
  text-align: center;
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search_box {
  align-items: center;
  justify-content: center;
}

.search_box > input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

.search_box_input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  padding-right: calc(-80px + 60vmin);
  font-size: 20px;
  outline-width: 0;
}

.search_box_submit {
  color: #282C34;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  outline-width: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.search_box_submit:hover {
  background-color: #DBDBDB; 
  border-color: #DBDBDB;
}

.search_box_submit:active {
  background-color: #4D5263;
  border-color: #4D5263;
}

.collapsible {
  background-color: white;
  color: #4D5263;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100vw;
}

.active, .collapsible:hover {
  background-color: #DBDBDB;
}

.collapsible:after {
  content: '\002B';
  color: #4D5263;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-width: 100vw;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  color:black;
  font-size: 14px;
  text-align: left;
  margin-bottom: 1px;
}

.question {
  border-bottom: 1px solid #2B2B2B;
}

.answer {
  border-bottom: 1px solid #2B2B2B;
}

.answer_title {
  font-size: 20px;
  border-top: 1px solid #2B2B2B;
  margin-top: 10px;
}

.comments {
  margin-left: 25px;
  font-size: 10px;
  border-bottom: 0.5px solid #595959;
}

code {
  background-color: lightgray;
  color: #000470;
}